extends ../layouts/default

block content
	section.hero
		.logo
			img(src="/images/logo@3x.png" width="471" height="120")
		.notice
			a(href="https://github.com/ajarbol" target="_blank")
				img(src="/images/notice@3x.png" width="118" height="23")
